/DbAccessLibrary/bin
/DediBotWeb/bin
/DediBotWeb.Common/bin
/DediBotWeb/.vs/DediBotWeb/CopilotIndices/17.14.1584.41681
/DediBotWeb/.vs/DediBotWeb/v17/.suo
/DediBotWeb/.vs/DediBotWeb/v17/DocumentLayout.backup.json
/DediBotWeb/.vs/DediBotWeb/v17/DocumentLayout.json
/DediBotWeb/obj/Debug/net9.0/ref/DediBotWeb.dll
/DediBotWeb/obj/Debug/net9.0/apphost.exe
/DediBotWeb/obj/Debug/net9.0/DediBotWeb.AssemblyInfo.cs
/DediBotWeb/obj/Debug/net9.0/DediBotWeb.dll
/DediBotWeb/obj/Debug/net9.0/DediBotWeb.sourcelink.json
/DediBotWeb/obj/Debug/net9.0/DediBotWeb.AssemblyInfoInputs.cache
/DediBotWeb/obj/Debug/net9.0/DediBotWeb.pdb
/DediBotWeb/obj/Debug/net9.0/refint/DediBotWeb.dll
/DediBotWeb/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/DediBotWeb/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/DediBotWeb/obj/Debug/net9.0/rpswa.dswa.cache.json
